* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}

.main-container {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.img-header img {
    width: 20%;

}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.menu-header a:hover {
    background-color: white;
    color: black;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paket-container {
    width: 300px;
    margin: 10px;
}

.paket-container h4 {
    color:#000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paket-container h5 {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paket-container img {
    width: 100%;
}

.video-container {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container iframe {
    width: 100%;
    height: auto;
}

.seacrh-container {
    margin-bottom: 10px;
}

.seacrh-container input[type='text'] {
    padding: 5px;
    margin-right: 10px;

}

.seacrh-container input[type='submit'] {
    padding: 5px;

}

.brand-container {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brand-container img {
    width: 70%;
    position: absolute;
    right: 35%;
}

.brand-container h1 {
    color: white;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px #000;
}

.brand-container h2 {
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 8px #000
}

